#ProductOverview {
    width: 100%;
    max-width: 405px;
    min-height: 188px;
    margin-bottom: 35px;

    @media (max-width: 1000px) {
        margin: 0 auto;
        min-height: unset;
    }

    table {
        width: 100%;
        display: inline-block;
        border-spacing: 0;

        tr {
            height: 56px;

            td {
                width: 100%;
                border-top: 1px solid #E0E0E0;
            }
        }

        tbody tr:first-child {

            td {

                border-top: none;

            }

        }


        tbody tr:last-child {

            td {

                font-size: 18px;
                font-weight: 700;
                line-height: 24px;


                @media (max-width: 1000px) {
                    border-bottom: 1px solid #E0E0E0;
                }
            }

        }

        #tableItem {
            display: flex;

            // 
            padding-bottom: 16px;
            border-top: none;

            >td {
                border-top: none;
            }

            @media (max-width: 1000px) {
                padding-top: 16px;
                // border-top: 1px solid #E0E0E0;
            }
        }

        #tableItemPrice {
            border-top: none;
        }
    }
}


#dropdown {
    display: none;
    width: 100%;
    max-width: 405px;
    min-height: 188px;
    height: 52px;
    border: 1px solid #E0E0E0;
    margin: 0 auto;

    >td {
        border-bottom: 1px solid #E0E0E0;
    }

    @media (max-width: 1000px) {
        display: table-row;
    }
}

#dropdownArrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    cursor: pointer;


}

.arrowRight {
    transition: transform 0.3s ease;
    margin-right: 10px;
}

.arrowDown {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    margin-right: 10px;
}


.expand {
    display: table-row;
}

.collapse {
    display: none;
}

.item {
    display: flex;
    margin-bottom: 16px;
}

.image {
    position: relative;
    width: 64px;
    height: 64px;
    background-image: url("../assets/item.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-right: 17px;
}

.itemCount {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 21px;
    height: 21px;
    border-radius: 100px;
    background-color: #5C5C5C;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    color: #fff;

}

.itemCountInner {
    position: absolute;
    top: 0px;
    right: 7.5px;
}

.title {
    height: fit-content;
    position: relative;
    top: 21px;


    font-size: 14px;
    font-weight: 700;
    line-height: 20px;


}

.price {
    height: fit-content;
    position: relative;
    top: 21px;
    right: -172px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;


}